{% load static %}

<html lang="en" data-bs-theme="auto">
  <head>
    <title>Cyber Crime - {% block title%}{% endblock%}</title>

    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet" />

    <link href="{% static 'css/auth.css'%}" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href={% static 'css/dashboard.css'%} rel="stylesheet" />
  </head>
  <body>
    <main class="card">
      <section
        class="vh-150 bg-image"
        style="
          background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');
        "
      >
        {% block content %} {% endblock %}
      </section>
    </main>

    <script src="{% static 'js/bundle.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>
  </body>
</html>
